body {
	color: white;
	background-color: #aaa;
	font-family: Times, serif;
	font-size: 12pt;
}

.rotated {
    //-moz-transform: rotate(90deg);     // scale(1.25, 0.5);
    //-webkit-transform: rotate(90deg);  // scale(1.25, 0.5);
    //transform: rotate(90deg);          // scale(1.25, 0.5);
}
#appcontainer {
	width: 840px;
	color: black;
	background-color: white;
	margin: 0 auto;
}


#container a {
	text-decoration: none;
}
a:link {
	color:#616536;
	text-decoration: none;
}
a:visited {
	color:#978E43;
	text-decoration: none;
}
a:hover {
	color:#1B1112;
	text-decoration: underline;
}

ul {
	padding: 0 0 7px 10px;
	margin: 0;
}
li {
	padding: 0 0 0 10px;
	margin: 0;
	list-style-type: none;
}

#container {
	width: 840px;
	color: black;
	background-color: white;
	margin: 0 auto;
}
#container a {
	text-decoration: none;
}
#container a:link {
	color:#616536;
	text-decoration: none;
}
#container a:visited {
	color:#978E43;
	text-decoration: none;
}
#container a:hover {
	color:#1B1112;
	text-decoration: underline;
}



#intro {
	text-align: center;
	font-size: 12pt;
	position: relative;
}


#introHeader {
	position: relative;
	border: 0px solid blue;
	height: 212px;
	text-align: center;
	
	/*background: url(images/GoldRing.jpg);*/
	/*background: url(images/2006-08.jpg);*/
	background: url(images/bg-header2.jpg);
}
#introHeader h1 {
	margin: 0;
	padding: 0;
	font-variant: small-caps;
	font-size: 40pt;
	border: 0px solid red;
	color: #ffd;
}
#quote1 {
	position: absolute;
	margin: 0;
	padding: 5px;
	font-size: 10pt;
	font-style: italic;
	font-weight: normal;
	border: 1px solid #aaa;
	top: 90px;
	left: 150px;
	text-align: left;
	
	color: #000;
	background-color: #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#introHeader h3 {
	position: absolute;
	margin: 0px;
	padding: 5px;
	font-size: 10pt;
	font-style: italic;
	font-weight: normal;
	border: 1px solid #aaa;
	top: 130px;
	left: 150px;
	text-align: left;
	
	color: #000;
	background-color: #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#introHeader img {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 0;
	margin: 0;
	border: 1px black solid;
	height: 200px;
}

#container .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9 {
	border: 0px solid blue;
	float: left;
	padding: 0px;
	margin: 0;
	text-align: left;
	font-style: italic;
	font-size: 10pt;
	position: absolute;
	left: 740px;
	
	opacity: 01;
}
#container .p2 {  top: 220px; }
#container .p3 {  top: 360px; }
#container .p4 {  top: 530px; }
#container .p5 {  top: 690px; }
#container .p6 {  top: 830px; }
#container .p7 {  top: 980px; }
#container .p8 {  top: 1080px; }
#container .p9 {  top: 1200px; }

#intro .auth{
	font-style: normal;
	display: block;
	padding-top: .5em;
}

.collection {
	padding: 5px 5px 5px 10px;
	margin: 0;
	background-color: #ffd;
	font-size: 12pt;
}
.collection td {
	/*background-color: #f00;*/
	text-align: center;
}
.subCollection {
	padding: 0 0 0 0;
	margin: 0;
	font-size: 10pt;
}
.subCollection li {
	font-size: 12pt;
}

.gallery {
	padding: 10px 0 0 10px;
	margin: 0;
	background-color: #eee;
	font-size: 12pt;
}
.subGallery {
	padding: 0 0 7px 10px;
	margin: 0;
	font-size: 12pt;
	/*background-color: #faf;*/
}

p.clear {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}